.userTable{
    width: 60%;
    background-color:white ;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius:5px ;
    margin: 50px auto;

}

.addButton{
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border: 5px;
    padding: 10px;
    border-radius: 4px;
}


.userTable table{
    width:100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.userTable table thead{
    background-color:rgb(67, 32, 137) ;
    color: white;
}

.userTable table tbody td{
   padding: 10px; 
   text-align: center;
}

.actionButton button{
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border: 5px;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.actionButton a{
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border: 5px;
    padding: 8px 10px;
    border-radius: 4px;
    margin-left: 10px;
}